{% extends 'base.html' %}
{% block content %}
<main class="detail">
    <div class="container-fluid pt-4">
        <div class="row g-0 mt-4">
            <div class="col-lg-8">
                <div class="card shadow article-card">
                    <div class="card-header pb-1">
                        {% if request.user == post.author %}
                        <div class="dropdown">
                            <button class="btn float-end text-muted" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item btn btn-primary"
                                        href="{% url 'post-edit' post.pk %}">Edit</a></li>
                                <li><a class="dropdown-item text-danger"
                                        href="{% url 'post-delete' post.pk %}"><strong>Delete</strong></a></li>
                            </ul>
                        </div>
                        {% endif %}
                        {% if post.author.profile.profile_pic %}
                        <a href="{% url 'profile' post.author.profile.pk %}">
                            <img class="rounded-circle" src="{{ post.author.profile.profile_pic.url }}" alt=""
                                width="40px" height="40px">
                            {{post.author}}
                        </a>
                        {% else %}
                        <p>
                            <a href="{% url 'profile' post.author.profile.pk %}"><i
                                    class="fa-regular fa-user-circle fa-2xl"></i>
                                {{post.author}}
                            </a>
                        </p>
                        {% endif %}
                    </div>
                    <div class="card-body ps-5">
                        <p class="text-muted text-small"><i
                                class="fa-regular fa-calendar-days me-1"></i>{{post.date_created | date:'M d Y'}}</p>
                        <p><a class="btn btn-sm cat-btn" href="{% url 'category' post.category %}">{{ post.category }}</a></p>
                        <h1>{{post.title}}</h1>
                        <div style="display:inline">
                            {% for tag in post.tags.all %}
                            <span class="m-1"><a href="{% url 'tagged-posts' tag %}">#{{tag}}</a></span>
                            {% endfor %}
                        </div>
                        <div class="float-end">
                            {% if user.is_authenticated %}
                            <form action="{% url 'like-post' post.pk %}" method="POST">
                                {% csrf_token %}
                                {% if is_liked %}
                                <button class="btn btn-sm unlike" type="submit" name="post_id" value="{{post.pk}}">
                                    <i class="fa-solid fa-heart"></i>
                                </button>{{post.likes.count}}
                                {% else %}
                                <button class="btn btn-sm  like" type="submit" name="post_id" value="{{post.pk}}">
                                    <i class="fa-regular fa-heart"></i>
                                </button>{{post.likes.count}}
                                {% endif %}
                            </form>
                            {% endif %}
                        </div>
                        <hr>
                    </div>
                    <div class="card-footer ps-5">
                        <p>{{ post.content.html|safe }}</p>
                    </div>
                </div>
            </div>
            <aside class="col-8 col-lg-3">
                <div class="card side-card text-center">
                    {% if user.is_authenticated %}
                    <p class="text-center">👋Hello {{user.username}}</p>
                    <p> Got something new to share? <a class="btn btn-sm btn-success"
                            href="{% url 'create' %}">Create</a></p>
                    {% else %}
                    <p class="text-center"> SignUp And Create Your Own Article🥰</p>
                    <a class="btn btn-primary" href="{% url 'account_signup' %}">Sign Up</a>
                    {% endif %}
                </div>
            </aside>
        </div>
    </div>
</main>
{% endblock content %}